march-madness-stats/backend/src/main/resources/schemas/common-statistics-v2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">


    <xs:complexType name="teamRecordType">
        <xs:sequence>
            <xs:element name="total" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:attributeGroup ref="teamTotalRecordAttributes" />
                </xs:complexType>
            </xs:element>
            <xs:element name="average" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:attributeGroup ref="teamAverageRecordAttributes" />
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="playerRecordType">
        <xs:sequence>
            <xs:element name="total" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:attributeGroup ref="playerTotalRecordAttributes" />
                </xs:complexType>
            </xs:element>
            <xs:element name="average" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:attributeGroup ref="playerAverageRecordAttributes" />
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:attributeGroup name="averageRecordAttributes">
        <xs:attribute name="assists" use="optional" type="xs:decimal"/>
        <xs:attribute name="blocked_att" use="optional" type="xs:decimal"/>
        <xs:attribute name="blocks" use="optional" type="xs:decimal"/>
        <xs:attribute name="def_rebounds" use="optional" type="xs:decimal"/>
        <xs:attribute name="field_goals_att" use="optional" type="xs:decimal"/>
        <xs:attribute name="field_goals_made" use="optional" type="xs:decimal"/>
        <xs:attribute name="flagrant_fouls" use="optional" type="xs:decimal"/>
        <xs:attribute name="free_throws_att" use="optional" type="xs:decimal"/>
        <xs:attribute name="free_throws_made" use="optional" type="xs:decimal"/>
        <xs:attribute name="minutes" use="optional" type="xs:decimal"/>
        <xs:attribute name="off_rebounds" use="optional" type="xs:decimal"/>
        <xs:attribute name="personal_fouls" use="optional" type="xs:decimal"/>
        <xs:attribute name="points" use="optional" type="xs:decimal"/>
        <xs:attribute name="rebounds" use="optional" type="xs:decimal"/>
        <xs:attribute name="steals" use="optional" type="xs:decimal"/>
        <xs:attribute name="three_points_att" use="optional" type="xs:decimal"/>
        <xs:attribute name="three_points_made" use="optional" type="xs:decimal"/>
        <xs:attribute name="turnovers" use="optional" type="xs:decimal"/>
        <xs:attribute name="two_points_att" use="optional" type="xs:decimal"/>
        <xs:attribute name="two_points_made" use="optional" type="xs:decimal"/>   
    </xs:attributeGroup>
    
    <xs:attributeGroup name="playerAverageRecordAttributes">
        <xs:attributeGroup ref="averageRecordAttributes" />
    </xs:attributeGroup>
    
    <xs:attributeGroup name="teamAverageRecordAttributes">
        <xs:attributeGroup ref="averageRecordAttributes" />
        <xs:attribute name="fast_break_pts" use="optional" type="xs:decimal"/>
        <xs:attribute name="paint_pts" use="optional" type="xs:decimal"/>
        <xs:attribute name="second_chance_pts" use="optional" type="xs:decimal" />
        <xs:attribute name="points_off_turnovers" use="optional" type="xs:decimal"/>
    </xs:attributeGroup>  
    
    <xs:attributeGroup name="totalRecordAttributes">
        <xs:attribute name="assists" use="optional" type="xs:integer"/>
        <xs:attribute name="assists_turnover_ratio" use="optional" type="xs:decimal" />
        <xs:attribute name="blocked_att" use="optional" type="xs:integer"/>
        <xs:attribute name="blocks" use="optional" type="xs:integer"/>
        <xs:attribute name="defensive_rebounds" use="optional" type="xs:integer"/>
        <xs:attribute name="field_goals_att" use="optional" type="xs:integer"/>
        <xs:attribute name="field_goals_made" use="optional" type="xs:integer"/>
        <xs:attribute name="field_goals_pct" use="optional" type="xs:decimal"/>
        <xs:attribute name="flagrant_fouls" use="optional" type="xs:integer"/>
        <xs:attribute name="free_throws_att" use="optional" type="xs:integer"/>
        <xs:attribute name="free_throws_made" use="optional" type="xs:integer"/>
        <xs:attribute name="free_throws_pct" use="optional" type="xs:decimal"/>
        <xs:attribute name="games_played" use="optional" type="xs:integer"/>
        <xs:attribute name="minutes" use="optional" type="xs:decimal"/>
        <xs:attribute name="offensive_rebounds" use="optional" type="xs:integer"/>
        <xs:attribute name="personal_fouls" use="optional" type="xs:integer"/>
        <xs:attribute name="points" use="optional" type="xs:integer"/>
        <xs:attribute name="rebounds" use="optional" type="xs:integer"/>
        <xs:attribute name="seconds_played" use="optional" type="xs:integer"/>
        <xs:attribute name="steals" use="optional" type="xs:integer"/>
        <xs:attribute name="tech_fouls" use="optional" type="xs:integer"/>
        <xs:attribute name="three_points_att" use="optional" type="xs:integer"/>
        <xs:attribute name="three_points_made" use="optional" type="xs:integer"/>
        <xs:attribute name="three_points_pct" use="optional" type="xs:decimal"/>
        <xs:attribute name="turnovers" use="optional" type="xs:integer"/>
        <xs:attribute name="two_points_att" use="optional" type="xs:integer"/>
        <xs:attribute name="two_points_made" use="optional" type="xs:integer"/>
        <xs:attribute name="two_points_pct" use="optional" type="xs:decimal"/>
        
		<xs:attribute name="ejections" use="optional" type="xs:integer" />
		<xs:attribute name="foulouts" use="optional" type="xs:integer" />
    </xs:attributeGroup>
    
    <xs:attributeGroup name="teamTotalRecordAttributes">
        <xs:attributeGroup ref="totalRecordAttributes" />
        <xs:attribute name="fast_break_pts" use="optional" type="xs:integer"/>
        <xs:attribute name="games_started" use="optional" type="xs:integer"/>
        <xs:attribute name="paint_pts" use="optional" type="xs:integer"/>
		<xs:attribute name="second_chance_pts" use="optional" type="xs:integer" />	
        <xs:attribute name="points_off_turnovers" use="optional" type="xs:integer"/>
    </xs:attributeGroup>
    
    <xs:attributeGroup name="playerTotalRecordAttributes">
        <xs:attributeGroup ref="totalRecordAttributes" />
        <xs:attribute name="games_started" type="xs:integer"/>
    </xs:attributeGroup>
    
</xs:schema>
