march-madness-stats/backend/src/main/resources/schemas/tournament-v2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:t="http://feed.elasticstats.com/schema/basketball/tournament-v2.0.xsd"
           targetNamespace="http://feed.elasticstats.com/schema/basketball/tournament-v2.0.xsd"
           elementFormDefault="qualified" >

  <xs:include schemaLocation="common-v2.0.xsd" />

  <xs:complexType name="tournamentType">
    <xs:sequence>
      <xs:element name="bracket" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="team" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:attributeGroup ref="t:baseTeamAttributes" />
                <xs:attribute name="seed" use="optional" type="xs:integer"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="id" use="required" type="xs:string"/>
          <xs:attribute name="name" use="optional" type="xs:string"/>
          <xs:attribute name="location" use="optional" type="xs:string"/>
          <xs:attribute name="rank" use="optional" type="xs:integer"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" use="required" type="xs:string"/>
    <xs:attribute name="name" use="optional" type="xs:string"/>
    <xs:attribute name="end_date" use="optional" type="xs:date"/>
    <xs:attribute name="start_date" use="optional" type="xs:date"/>
    <xs:attribute name="location" use="optional" type="xs:string"/>
    <xs:attributeGroup ref="t:eventStatusAttributes" />
  </xs:complexType>

  <xs:element name="tournament" type="t:tournamentType" />


</xs:schema>
